.articles .container
  width: 100%
  padding-left: 5px
  padding-right: 5px
  .article__body-form:focus
    border: 0
    box-shadow: none
    border-radius: 0

.article__preview-section
  background-color: white
  h1, h2
    border-bottom: 1px solid #ddd
    padding-bottom: .1em
  .fa-link
    display: none
    color: #999
    padding: 12px 8px 4px