.articles .container
  width: 100%
  padding-left: 5px
  padding-right: 5px
  .article__body-form:focus
    box-shadow: none

.article__form-container
  position: absolute
  top: 56px
  right: 5px
  bottom: 0
  left: 5px

.article__title-container
  position: absolute
  width: 100%
  left: 0
  right: 0
  top: 0
  height: 44px

.article__markdown-container
  position: absolute
  width: 100%
  left: 0
  right: 0
  top: 40px
  bottom: 40px
  box-sizing: border-box
  border-radius: 3px
  background-color: white
  border: 1px solid $gray

.article__body-container
  width: 50%
  border-top-left-radius: 3px
  position: absolute
  top: 0
  bottom: 0
  background-color: white

.article__body-header
  border-top-left-radius: 3px
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
  width: 100%
  padding: 0 8px
  background-color: $gray-little
  color: #999
  line-height: 36px

.article__body-panel
  display: inline-block
  width: 100%

.article__body-form-container
  position: absolute
  top: 36px
  bottom: 0
  width: 100%

  textarea.form-control
    height: 100%

.article__title-form
  border: 1px solid $gray
  font-size: 24px
  padding-top: 8px
  padding-bottom: 8px
  padding-left: 10px
  padding-right: 78px

.article__body-form
  box-sizing: border-box
  box-shadow: none
  border-radius: 0
  width: 100%
  height: 100%
  outline: 0
  display: block
  margin-bottom: 0
  padding: 10px
  border: 0
  font-family: Consolas,Liberation Mono,Menlo,Courier,monospace
  color: #222
  line-height: 1.5
  resize: none

.article__preview-container
  width: 50%
  border-left: solid 1px $gray
  border-bottom-right-radius: 3px
  border-top-right-radius: 3px
  box-sizing: border-box
  position: absolute
  top: 0
  bottom: 0
  right: 0
  background-color: $gray-little
  color: #999

.article__preview-header
  padding: 0 10px
  line-height: 36px
  font-size: 13px

.article__preview-panel
  position: absolute
  top: 36px
  bottom: 0
  left: 0
  right: 0
  overflow: auto
  padding: 10px
  color: #4a4a4a
  background-color: white

.article__preview-section
  font-size: 1.6rem
  color: #333
  word-wrap: break-word
  word-break: break-all
  h1, h2
    border-bottom: 1px solid $gray
    padding-bottom: .1em
  .fa-link
    display: none
    color: #999
    padding: 12px 8px 4px

.article__submit-container
  width: 100%
  left: 0
  right: 0
  bottom: 0
  height: 41px
  position: fixed!important
  padding: 4px 10px
  background: #eee
  border-top: 1px solid $gray