$short-width: 85px
$medium-width: 200px
$long-width: 350px

main
  &.main__navigation
    margin-top: 60px

.fit-input
  width: auto
  &.long
    width: $long-width
    @media (max-width: $screen-sm-max)
      width: 100%
  &.short
    width: $short-width
    @media (max-width: $screen-sm-max)
      width: 100%
  &.medium
    width: $medium-width
    @media (max-width: $screen-sm-max)
      width: 100%

body
  background-color: $gray-little

.form-section
  padding: 20px
  background: white

.simple_form
  .form-group-invalid
    label
      color: $red-dark
    .form-control
      border: 1px solid $red-dark
    .invalid-feedback
      color: $red-dark

abbr[title='required']
  background: white
  font-size: 0.65em
  font-weight: normal
  padding: 2px 5px
  color: $green-dark
  border: 1px solid $green-dark
  +border-radius(3px)
